//banners
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15% 10% 18%;
  color: $color-white;
  @include max-width {
    padding: 600px 10% 0;
    flex-direction: column-reverse;
    gap: 120px;
    color: $color-black;
  }
  @include tab-width {
    padding: 800px 10% 0;
  }
  @include tab-width {
    padding: 450px 10% 0;
  }
  .bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 0;
    @include tab-width {
      background-size: 85vh;
      background-position: top;
      background-repeat: no-repeat;
      height: 85%;
    }
  }
  .bg-banner {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    @include max-width {
      height: 650px;
    }
    @include tab-width {
      display: none;
    }
  }
  .info,
  .title {
    z-index: 99;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.4rem;
    line-height: 1.5;
    color: inherit;
    @include sm-width {
      font-size: 3.5rem;
    }
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding-bottom: 4%;
    color: inherit;
    padding-bottom: 1rem;
  }
  p {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: inherit;
  }
}
//post
.post-grid {
  display: flex;
  padding: 80px 20%;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  @include max-width {
    // margin: 0;
    // flex-direction: column;
    padding: 80px 10%;
  }
  @include pc-width {
    // margin: 0;
    flex-direction: column;
    padding: 160px 10%;
  }
}
.post-content {
  color: $color-black;
  flex: 0 1 65%;
  .post-wrap {
    & > div {
      margin: 60px auto;
      scroll-margin-top: 120px;
    }
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    scroll-margin-top: 160px;
  }
  h5 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 10px 0;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: $color-black;
  }
  a {
    font-weight: 700;
    color: $color-black;
    margin: 20px 0;
    transition: all 0.25s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  figure {
    margin: 40px auto 60px;
    width: 100%;
    height: auto;
  }
  figcaption {
    margin-top: 10px;
    text-align: center;
    color: #c4c4c4;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }
  .video {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    iframe {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}
.toc {
  flex: 0 1 25%;
  margin: 60px 0;
  height: 100%;
  position: sticky;
  top: 120px;
  @include max-width {
  }
  @include pc-width {
    position: relative;
    top: unset;
  }
  ul {
    list-style: none;
    li > a {
      color: rgb(97, 97, 97);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 21px;
      padding: 8px 0 8px 16px;
      border-left: 2px solid rgba(0, 0, 0, 0.12);

      &.active {
        color: $color-black;
        border-left: 2px solid $color-black;
        font-weight: 700;
      }
    }
  }
}
.thank-you {
  width: 100vw;
  height: auto;
}
.circle-highlight {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  @include mob-width {
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .circle-highlight-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    .text-secondary {
      color: #fafafa;
      background-color: $color-black;
      width: 10rem;
      height: 10rem;
      border-radius: 999em;
      text-align: center;
      line-height: 10rem;
      font-size: 1rem;
    }
    p {
      margin: 20px auto;
    }
  }
}
