* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// rwd
$max-width: 1440px;
$pc-width: 1060px;
$tab-width: 860px;
$mob-width: 756px;
$sm-width: 540px;
// color
$color-white: #fff;
$color-black: #333;
body {
  background: #151719;
  overflow-x: hidden;
  font-family: "Space Grotesk", "Noto Sans TC", sans-serif;
}
a {
  text-decoration: none;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
@mixin max-width {
  @media (max-width: $max-width) {
    @content;
  }
}
@mixin pc-width {
  @media (max-width: $pc-width) {
    @content;
  }
}
@mixin tab-width {
  @media (max-width: $tab-width) {
    @content;
  }
}
@mixin mob-width {
  @media (max-width: $mob-width) {
    @content;
  }
}
@mixin sm-width {
  @media (max-width: $sm-width) {
    @content;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a {
  font-family: "Space Grotesk", "Noto Sans TC", sans-serif;
}
@import "./nav";
@import "./card";
@import "./button";
@import "./project";
@import "./intro";
